{
  "project_info": {
    "project_number": "595387634191",
    "project_id": "focused-rig-vcf5x",
    "storage_bucket": "focused-rig-vcf5x.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:595387634191:android:cf090ce31cfffacb81c97a",
        "android_client_info": {
          "package_name": "com.aistudio.ecosort.kxmpzq"
        }
      },
      "oauth_client": [
        {
          "client_id": "595387634191-al4ovkah6tggst1q8679taoaa3v20qbb.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "LOCAL_FIREBASE_CLIENT_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "595387634191-al4ovkah6tggst1q8679taoaa3v20qbb.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}
